<% post.comments.forEach(function (comment, index) { %>
<div class="comment-wp">
<h4>看完后，他们都说：</h4>
  <div class="comment">
    <p>
      <!-- <img src="<%= comment.head %>" class="l_head" /> -->
      <a href="<%= comment.website %>"><%= comment.name %></a>
      <span class="info"> 回复于 <%= comment.time %></span>
    </p>
    <p>
      <%- comment.content %>
    </p>
  </div>
</div>
<% }) %>

<div class="writeComment-wp">
  <h4>你也来评论一下吧：</h4>
  <form method="post">
  <% if (user) { %>
    <p>
      你的昵称：<span><%= user.name %></span>
    </p>
    <div style="display: none;">
      邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
      网址：<input type="text" name="website" value="/u/<%= user.name %>" /><br />
    </div>
  <% } else { %>
    <p>你的昵称：<input type="text" name="name" /></p>
    <p>你的邮箱：<input type="text" name="email" /></p>
    <p>你的网址：<input type="text" name="website" value="http://" /></p>
  <% } %>
    <textarea class="textarea" name="content" rows="5" cols="80"></textarea><br />
    <input class="submit" type="submit" value="留言" />
  </form>
</div>