	<%- include header %>

	<% posts.forEach(function(post, index) { %>
	<p>
		<h2>
			<a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
				<span class="type">
				<% if(post.type == 0) { %>
					文章
				<% } else if ( post.type == 1 ) { %>
					活动
				<% } %>
				</span>
				<%= post.title %>
			</a>
		</h2>
	</p>
	<p class="info">
		作者: <a href="/u/<%= post.name %>"><%= post.name %><img src="<%= post.head %>" class="r_head"></a>
		日期: <%= post.time.minute %>
		标签: 
		<% post.tags.forEach(function (tag, index) { %>
		  <% if (tag) { %>
		    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
		  <% } %>
		<% }) %>
	</p>
	<p><%- post.post %></p>
	<p class="info">
		阅读：<%= post.pv %> | 
		评论：<%= post.comments.length %>
	</p>
	<hr />
	<% }) %>
	<%- include paging %>
	<%- include footer %>

