	<%- include header %>
	<form method="post">
		<p>姓名: <input type="text" name="nickname" value="<%= user.nickname %>"></p>
		<p>
			性别: 
			<select name="sex" value="<%= user.sex %>">
				<option value="male">男</option>
				<option value="female">女</option>
			</select>
		</p>
		<p>年龄: <input type="number" name="age" value="<%= user.age %>" /></p>
		<p>电话: <input type="phone" name="phone" value="<%= user.phone %>" /></p>
		<p>
			地址: <%= user.address %> |	
			重新选择：
			<!-- 省 -->
			<select class="form-control" name="province" id="province">

			</select>
			<!-- 市 -->
			<select class="form-control" name="city" id="city">
			</select>
			<!-- 区 -->
			<select class="form-control" name="district" id="district">
			</select>
		</p>
		
		<br>
		<input type="submit" value="保存" class="submit"/>
	</form>
	<script src="js/address.js" type="text/javascript"></script>
	<script type="text/javascript">
		addressInit('province', 'city', 'district', '广东', '广州市', '天河区');
	</script>
	<%- include footer %>
